.meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  max-width: 300px;
  min-width: 200px;
  height: 60px;
  background-color: #00536f;
  margin: 7px 0px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.55, 0.2),
    color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: 0.5s;
  transform-origin: 50% 30%;
  text-align: center;
  overflow: hidden;
}

.meal p {
  margin: 0px 5px;
}

.meal-servings {
  font-weight: bold;
}

.meal:hover {
  transform: scale(1.03);
}
