.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-img {
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 826px;
  object-fit: cover;
}

.information-boxes-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  position: absolute;
  top: 600px;
}

.information-box {
  background-color: #00171f;
  color: white;
  width: 340px;
  height: 359px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.information-box p {
  width: 70%;
  font-size: 18pt;
}
