.info-history-container {
  display: flex;
}

.user-info-container {
  width: 668px;
  height: 454px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #00171f;
  text-align: left;
}

.user-info-container h1 {
  margin-left: 10px;
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.profile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 18px;
}

.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-info-container h2 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.goals-progress-container {
  display: flex;
  flex-direction: column;
}

.goals-progress-rings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
}

.goals-progress-ring {
  width: 140px;
  height: 140px;
}

.goals-progress-labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 170px;
  margin: 0px 100px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.history-container {
  width: 668px;
  height: 454px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #00171f;
  text-align: left;
}
